//main: ../style.less
.blog{
    background: url(../../img/blog/bg.jpg)no-repeat center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 820px;
}
.blog__card{
    display: flex;
}
.blog__card__content{
    width: 33.33333%;
    height: 500px;
    background-color: @white;
    border-radius: 10px;
}
.card__blog--img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 280px;
    width: 100%;
    display: block;
}